.grade.ani button.on:nth-of-type(1){animation-delay: 0s;}
.grade.ani button.on:nth-of-type(2){animation-delay: 0.1s;}
.grade.ani button.on:nth-of-type(3){animation-delay: 0.2s;}
.grade.ani button.on:nth-of-type(4){animation-delay: 0.3s;}
.grade.ani button.on:nth-of-type(5){animation-delay: 0.4s;}
.grade.ani button.on {
    opacity: 0;
	-webkit-animation: alpha .35s ease forwards;
	animation: alpha .35s ease forwards;
}
@keyframes alpha {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes alpha {
	0% {opacity: 0;}
	100% {opacity: 1;}
}