@charset "utf-8";

@import "reset.css";
@import "font.css";
@import "layout.css";
@import "common.css";
@import "style2.css";


.wrap footer .fixed-bot-area {position:relative;}
.wrap footer.show .fixed-bot-area .layer-pop {display:block;bottom:67px;}
.wrap footer .fixed-bot-area .layer-pop p {margin-bottom:0;color:#191919;}
.wrap footer .fixed-bot-area .layer-pop .btn-close {top:7px;right:5px;}


/* 회원가입 */
.join-box-1 {display:flex;flex-direction:column;justify-content:center;align-items:center;padding:72px 0 50px;}
.join-box-1 > div {width:100%;}
.join-box-1 h1 {font-size:20px;}
.join-box-1 h3 {margin-top:5px;}
.join-box-1 .btn-section {margin-top:100px;}
.join-box-1 .btn-section + h3 {margin-top:10px;}
.join-box-1 .btn-v-section {margin-top:50px;}
.join-info {margin-top:50px;padding-left:10px;}
.join-info dl {position:relative;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;height:52px;padding-left:69px;}
.join-info dl:before {content:'';position:absolute;top:0;left:0;width:52px;height:52px;margin-right:7px;background:url(../img/split-img.png) no-repeat;background-size:240px auto;}
.join-info dl:nth-child(1):before {background-position:0 -190px;}
.join-info dl:nth-child(2):before {background-position:-53px -190px;}
.join-info dl:nth-child(3):before {background-position:-106px -190px;}
.join-info dl + dl {margin-top:15px;}
.join-info dt {display:flex;align-items:center;font-family:'Mont-M','Noto-M';font-size:14px;line-height:1.31;color:#191919;}
.join-info dd {font-family:'Mont-R','Noto-R';font-size:14px;line-height:1.62;word-break:keep-all;}


/* 마동영역 */
fieldset .form-vgroup .cont-box-1 {align-items:flex-start;padding:15px;}

/* 가입 완료 */
.join-box-2 {display:flex;flex-direction:column;justify-content:center;align-items:center;padding:72px 0 50px;}
.join-box-2 > * {width:100%;}
.join-box-2 h1 {text-align:center;font-size:20px;line-height:1.47;letter-spacing:-.09px;}
.join-box-2 h3 {margin-top:10px;text-align:center;line-height:1.43;}
.join-box-2 h3 strong {text-align:center;}
.join-box-2 h3 + h3 {margin-top:100px;}
.join-logo {text-align:center;}
.join-logo h1 {font-family:'Mont-B','Noto-B';color:#191919;font-size:32px;line-height:1.22;letter-spacing:-.19px;}
.join-box-2 .cont-box-1 {margin-top:10px;padding:25px 52px 25px;}
.join-box-2 .cont-box-1 dl + dl {margin-top:10px;}
.join-box-2 .cont-box-1 dl {display:flex;}
.join-box-2 .cont-box-1 dl dt, .join-box-2 .cont-box-1 dl dd {font-size:14px;line-height:1.27;color:#191919;}
.join-box-2 .cont-box-1 dl dt {font-family:'Mont-M','Noto-M';width:82px;}
.join-box-2 .cont-box-1 dl dd {flex:1;}


/* 비밀번호 설정 */
.password-icon {margin:60px auto 25px;text-align:center;}
.password-icon:before {content:'';display:block;width:60px;height:60px;margin:0 auto 15px;background:url(../img/split-img.png) no-repeat 0 -60px;background-size:240px auto;}
.password-icon > h2 {line-height:1.47;letter-spacing:-.09px;}

.password-icon ~ .txt-guide .txt-list li {font-size:14px;}


/* 상품목록 */
.product-info i {display:block;}
.product-info i img {width:100%;height:100%;object-fit:cover;}

.order-info span {line-height:1.42;font-size:11px;}
.order-info span + span {position:relative;margin-left:10px;}
.order-info span + span:before {content:'/';position:absolute;left:-10px;width:10px;text-align:center;line-height:inherit;}


/*상품상세*/
.product-info .info .brand {display:flex;align-items:center;}
.product-info .info .brand > p {overflow:hidden;flex:1;font-family:'Mont-M','Noto-M';font-size:12px;text-overflow:ellipsis;white-space:nowrap;}
.product-info .info .prod-name {overflow:hidden;margin-top:6px;font-size:12px;line-height:1.42;color:#191919;text-overflow:ellipsis;white-space:nowrap;}
.product-info .info .price {display:flex;flex-direction:column;margin-top:5px;}
.product-info .info .price span {text-decoration:line-through;line-height:1.27}
.product-info .info .price strong {font-family:'Mont-M','Noto-M';font-size:15px;color:#191919;line-height:1.27}
.product-info .info .price em {font-family:'Mont-M';font-size:15px;color:#9d73d6;line-height:1.27}
.product-info .info .price strong em {margin-left:5px;}

/* 주문결제 */
.total-price {display:flex;justify-content:flex-end;align-items:center;margin:10px 0;}
.total-price strong {margin-left:5px;font-family:'Mont-M';font-size:19px;line-height:1.21;color:#191919;}
.total-price em {font-family:'Noto-M';font-size:15px;color:#191919;}

.order {margin-top:25px;}
.order .my-order-list {padding:0;}
.order .product-order .product-info .info .prod-name {font-size:13px;}
.order .product-order .product-info .info .brand > p {font-size:12px;}
.order .s-txt {line-height:1.55;color:#cbcbcb;}
.order li {padding:25px 0;border-bottom:1px solid #ebebeb;}
.order li > p + p {margin-top:2px;}
.order li > p strong {color:#191919;}
.order li > p strong + strong {position:relative;margin-left:10px;}
.order li > p strong + strong:before {content:'';position:absolute;left:-6px;top:2px;width:1px;height:12px;background:#ebebeb;}
.order li > p + .product-info {margin-top:15px;}
.order .product-info {display:flex;align-items:center;}
.order .product-info i {width:110px;height:110px;}
.order .product-info i img {width:100%;}
.order .product-info .info {flex:1;width:calc(100% - 125px);margin-left:15px;}
.order .product-info .info .prod-name {font-size:14px;line-height:1.75;}
.order .product-info .info .s-txt {margin-top:5px;}
.order .product-info .info .price {margin-top:0;}
.order ~ .my-address {margin-bottom:10px;padding-bottom:25px;border-bottom:1px solid #ebebeb;}
/*.order .ordered-box .product-order .product-info + .product-info {margin-top:25px;}*/


.order .cont-box-1 {width:auto;margin:25px -20px 25px;}
.order .cont-box-1 dt {font-family:'Mont-M','Noto-M';font-size:19px;color:#191919;}
.order .cont-box-1 dd {display:flex;justify-content:space-between;align-items:center;margin-top:5px;}
.order .cont-box-1 dd > p {color:#191919;font-size:14px;}
.order .cont-box-1 dd > p strong {font-family:'Mont-M';font-size:14px;color:inherit;}
.order .cont-box-1 .form {margin-top:0;}
.order .cont-box-1 .form .inp {flex:unset;width:80px;height:30px;line-height:30px;}
.order .cont-box-1 .form-box > button {height:30px;}


/* 배송정보 */
.my-address-wrap .cont-box-1 {margin-top:0;padding:25px 20px;}
.my-address-wrap .list-1 {margin:0 20px;}
.my-address-wrap .list-1 li {padding:25px 0;}
.my-address-wrap .list-1 li:last-child {padding-bottom:0;border:0;}
.my-address-wrap .my-address {margin:0}
.my-address {display:flex;align-items:center;flex-wrap:wrap;margin-top:20px;}
.my-address .tab-2, .my-address > button {margin-left:auto;}
.my-address > span {margin-right:15px;font-family:'Mont-M','Noto-M';font-size:14px;line-height:1.42;color:#191919;}
.my-address + fieldset .form {margin-top:25px;}
.my-address-wrap .my-address > button {min-width:80px;height:31px;padding:0 13px;border:1px solid #cbcbcb;border-radius:4px;}
.my-address-wrap .my-address > button span {font-size:13px;color:#191919;}
.my-address .selected {border-bottom:1px solid #191919;font-family:inherit;}
.my-address .selected:before {content:'';display:inline-block;width:9px;height:6px;margin:0 3px 2px 0;background:url(../img/split-img.png) no-repeat -60px -60px;background-size:240px auto;}
.my-address .txt-guide {width:100%;margin-top:15px;padding:0 !important;}
.my-address .txt-guide > p {font-size:13px;}

.address-list .list-1 li {padding-bottom:30px;}
.address-list .list-1 li:first-child {padding-top:24px;}
.address-list .my-address {margin:0;}
.address-list + .btn-section {margin-top:15px;}


/* 주문서 */
.total-price.big {margin:0;padding-top:10px;border-top:1px solid #ebebeb;line-height:1.47;}
.total-price.big span {font-family:'Mont-M','Noto-M';font-size:16px;}
.total-price.big strong {color:#9d73d6;}
.total-price.big em {font-family:'Noto-R';color:#9d73d6;font-size:13px;}

.order-price {margin-top:15px;}
.order-price p {display:flex;justify-content:flex-start;line-height:1.42;color:#191919;}
.order-price p > span {margin-right:auto;color:inherit;font-size:14px;}
.order-price p > strong {font-family:'Mont-M';}
.order-price p > strong span {color:#8c8c8c;font-size:inherit;font-family:inherit;}
.order-price p > .point-1 {color:#ff0000}
.order-price p em {font-size:10px;line-height:1.7;color:inherit;vertical-align:bottom}
.order-price p b {font-weight:revert;}

.order-price .total-price:not(.big) strong {font-size:15px;}

.order-price .cont-box-1 {margin-top:10px;padding:15px;}
.order-price .cont-box-1 p {position:relative;display:flex;align-items:center;padding-left:10px;color:#8c8c8c;}
.order-price .cont-box-1 p + p {margin-top:5px;}
.order-price .cont-box-1 p:before {content:'';position:absolute;top:4px;left:0;width:5px;height:5px;border-left:1px dotted #8c8c8c;}
.order-price .cont-box-1 p:after {content:'';position:absolute;top:3px;left:0;width:5px;height:5px;border-bottom:1px dotted #8c8c8c;}
.order-price .cont-box-1 p strong {margin-left:3px;}


/*선주문완료*/
.wrap-in.bg-gray + .wrap-in .dl-list + .cont-box-1.full {margin-top:20px;}
.wrap-in.bg-gray + .wrap-in .dl-list + .cont-box-1.full .txt-list {margin-top:0;}
.wrap-in.bg-gray + .wrap-in .dl-list + .cont-box-1.full .txt-list li {font-size:13px;}
.wrap-in.bg-gray + .wrap-in .dl-list + .cont-box-1.full .txt-list li + li {margin-top:10px;}



/* 상품상세 */
.product-img {position:fixed;top:0;width:100%;height:427px;}
.product-img .swiper-container {width:100%;height:427px;}
.product-img img {width:100%;height:100%;object-fit:cover;}
.product-img .swiper-pagination {left:unset;right:20px;bottom:20px;width:55px;height:30px;padding: 0 15px;border-radius:30px;background:rgba(25,25,25,.7);line-height:30px;color:#fff;}
.product-img .swiper-pagination span {color:#fff;}
.product-img .swiper-pagination .swiper-pagination-current {font-family:'Mont-M','Noto-M';}
.product-img .swiper-pagination .swiper-pagination-total {color:#cbcbcb;}
.product-img > button {z-index:10;position:absolute;right:81px;bottom:20px;height:30px;padding: 0 15px;border-radius:30px;background:rgba(25,25,25,.7);color:#fff;}
.product-img > button span {font-size:12px;color:#fff;}
.product-img > em {z-index:10;position:absolute;left:20px;bottom:20px;width:83px;height:83px;padding:17px;background:#191919;}
.product-img > em {display:flex;align-items:center;font-family:'Mont-B','Noto-R';font-size:18px;text-align:center;line-height:1.22;color:#fff;letter-spacing:-.38px;}
.product-img > em.end {background:#8c8c8c;}

.btn-share-group .btn.icon {min-width:53px;height:auto;}
.btn-share-group .btn.icon + .btn.icon {margin-left:5px;}
.btn-share-group .btn.icon span {display:flex;flex-direction:column;font-family:initial;font-size:10px;}
.btn-share-group .btn.icon span:before {width:40px;height:40px;margin-bottom:5px;margin-right:0;background:url(../img/split-img.png) no-repeat;background-size:240px auto;}
.btn-share-group .btn.icon.kakaostory span:before {background-position:-40px -120px;}
.btn-share-group .btn.icon.facebook span:before {background-position:-80px -120px;}
.btn-share-group .btn.icon.twiter span:before {background-position:-120px -120px;}
.btn-share-group .btn.icon.urlcopy span:before {background-position:-160px -120px;}

.detail {background:#fff;}
.detail .product-info {display:flex;flex-wrap:wrap;padding:15px 0;}
.detail .product-info .info {position:relative;}
.detail .product-info .info {width:calc(100% - 80px);padding:20px 20px 25px;}
.detail .product-info .prod-name {display:-webkit-box;-webkit-line-clamp:2;white-space:normal;word-wrap:break-word;-webkit-box-orient:vertical;font-family:'Mont-M','Noto-M';font-size:20px;}
.detail .product-info .price {flex-direction:column;align-items:flex-start;margin-top:25px;}
.detail .product-info .price dl {display:flex;align-items:center;}
.detail .product-info .price dt {width:60px;font-size:12px;}
.detail .product-info .price dd {flex:1;}
.detail .product-info .price span {font-size:15px;}
.detail .product-info .price strong {font-family:'Mont-SB';margin-left:0;font-size:23px;}
.detail .product-info .price em {font-family:'Mont-SB';margin-left:5px;font-size:23px;}
.detail .product-info .grade {margin-top:10px;}

.detail .product-info > .layer-pop-wrap {width:80px;padding:40px 20px 20px}
.layer-pop-wrap .btn-share-group {display:flex;justify-content:center;margin-top:15px;}



/*평점*/
.grade {display:flex;align-items:center;}
.grade strong {margin-right:10px;font-family:'Mont-M','Noto-M';font-size:16px;color:#191919;}
.grade em {margin-left:5px;color:#191919; min-width: 15px;}
.grade .unit {width:12px;height:12px;background:url(../img/split-img.png) no-repeat -77px -62px;background-size:240px auto;font-size:0;}
.grade .unit + .unit {margin-left:1px;}
.grade .unit.on {background-position:-106px -62px;}
.grade .unit.on.half {background-position:-91px -62px;}

.grade.half .unit:nth-child(1), .grade.num-1.half .unit:nth-child(2), .grade.num-2.half .unit:nth-child(3), .grade.num-3.half .unit:nth-child(4), .grade.num-4.half .unit:nth-child(5) {background-position:-91px -62px;}
.grade.num-1 .unit:nth-child(-n+1),
.grade.num-2 .unit:nth-child(-n+2),
.grade.num-3 .unit:nth-child(-n+3),
.grade.num-4 .unit:nth-child(-n+4),
.grade.num-5 .unit:nth-child(-n+5) {background-position:-106px -62px;}

.grade.white .unit.on {background-position:-106px -77px;}
.grade.white .unit.on.half {background-position:-91px -77px;}

.grade.white.half .unit:nth-child(1), .grade.white.num-1.half .unit:nth-child(2), .grade.white.num-2.half .unit:nth-child(3), .grade.white.num-3.half .unit:nth-child(4), .grade.white.num-4.half .unit:nth-child(5) {background-position:-91px -77px;}
.grade.white.num-1 .unit:nth-child(-n+1),
.grade.white.num-2 .unit:nth-child(-n+2),
.grade.white.num-3 .unit:nth-child(-n+3),
.grade.white.num-4 .unit:nth-child(-n+4),
.grade.white.num-5 .unit:nth-child(-n+5)  {background-position:-106px -77px;}


.grade.purple .unit.on {background-position:-106px -92px;}
.grade.purple .unit.on.half {background-position:-91px -92px;}

.grade.purple.half .unit:nth-child(1), .grade.purple.num-1.half .unit:nth-child(2), .grade.purple.num-2.half .unit:nth-child(3), .grade.purple.num-3.half .unit:nth-child(4), .grade.purple.num-4.half .unit:nth-child(5) {background-position:-91px -92px;}
.grade.purple.num-1 .unit:nth-child(-n+1),
.grade.purple.num-2 .unit:nth-child(-n+2),
.grade.purple.num-3 .unit:nth-child(-n+3),
.grade.purple.num-4 .unit:nth-child(-n+4),
.grade.purple.num-5 .unit:nth-child(-n+5) {background-position:-106px -92px;}

.grade.big em {font-family:'Mont-M','Noto-M';font-size:17px; margin-left: 8px;}
.grade.big .unit + .unit {margin-left:5px;}
.grade.purple.big .unit {width:18px;height:18px;background-position: -140px -101px !important;}
.grade.purple.big .unit i{background-position:-120px -61px;}
.grade.purple.big .unit.on i{background-position:-120px -101px;}
.grade.purple.big .unit.on.half i{background-position:-120px -81px;}

.grade.purple.big.half .unit:nth-of-type(1) i, .grade.purple.big.num-1.half .unit:nth-of-type(2) i, .grade.purple.big.num-2.half .unit:nth-of-type(3) i, .grade.purple.big.num-3.half .unit:nth-of-type(4) i, .grade.purple.big.num-4.half .unit:nth-of-type(5) i{background-position:-120px -81px;}
.grade.purple.big.num-1 .unit:nth-of-type(-n+2) i,
.grade.purple.big.num-2 .unit:nth-of-type(-n+3) i,
.grade.purple.big.num-3 .unit:nth-of-type(-n+4) i,
.grade.purple.big.num-4 .unit:nth-of-type(-n+5) i,
.grade.purple.big.num-5 .unit:nth-of-type(-n+6) i {background-position:-120px -101px;}


.grade i{font-size: 0; width: 18px; height: 18px; background: url(../img/split-img.png) no-repeat -140px -101px;background-size: 240px auto; display: inline-block;}
.grade.ani button.on:nth-of-type(1) i{animation-delay: 0s;}
.grade.ani button.on:nth-of-type(2) i{animation-delay: 0.1s;}
.grade.ani button.on:nth-of-type(3) i{animation-delay: 0.2s;}
.grade.ani button.on:nth-of-type(4) i{animation-delay: 0.3s;}
.grade.ani button.on:nth-of-type(5) i{animation-delay: 0.4s;}
.grade.ani button.on i{
    opacity: 0;
	-webkit-animation: alpha .25s ease forwards;
	animation: alpha .25s ease forwards;
}
@keyframes alpha {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes alpha {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* Progress */
.progress {display:flex;align-items:center;}
.progress .bar {flex:1;overflow:hidden;position:relative;height:3px;background:#cbcbcb;border-radius:5px;}
.progress .bar span {position:absolute;top:0;left:0;height:100%;background:#9d73d6;border-radius:inherit;}
.progress strong {min-width:50px;margin-right:10px;line-height:1.25;}
.progress em {min-width:35px;margin-left:15px;text-align:right;line-height:1.15;}

.product-info .progress {position:relative;width:100%;flex-direction:column;padding:25px 20px;}
.product-info .progress:before {content:'';position:absolute;top:0;left:20px;right:20px;height:1px;background:#ebebeb;}
.product-info .progress strong, .product-info .progress em {font-family:'Mont-M','Noto-M';font-size:12px;}
.product-info .progress strong {margin-right:0;font-size:12px;}
.product-info .progress em {margin-left:0;font-size:12px;}
.product-info .progress strong em + em {position:relative;margin-left:20px;}
.product-info .progress strong em + em:before {content:'';position:absolute;top:4px;left:-10px;width:1px;height:7px;background:#cbcbcb;}
.product-info .progress .time {width:100%;margin-top:5px;font-family:'Mont-M','Noto-M';font-size:12px;}
.product-info .progress .hbox {margin-top:5px;justify-content:space-between;width:100%;}
.product-info .progress .bar {flex:unset;width:100%;height:5px;margin-top:6px;}
.product-info .progress .time + .hbox {align-items:flex-end;width:100%;margin-top:15px;}
.product-info .progress .time + .hbox p {flex:1;font-size:12px;line-height:1.5;color:#191919;}
.product-info .progress .time + .hbox .txt-btn {font-size:12px;}
/*.product-info .progress .bar + .hbox .txt-btn.underline {height:fit-content;}*/
/*.product-info .progress .bar + .hbox .txt-btn.underline span:after {bottom:8px;}*/


/* 상품 상세 - 진행현황 */
.product .tab-1 {position:absolute;width:100%;top:0;margin-top:0;}
.product .tab-1.on {position:fixed;} 
.product .tab-1 li {font-family:'Mont-R','Noto-R';font-size:14px;color:#191919;}
.product .tab-1 li.on {font-family:'Mont-M','Noto-M';}
.product .tab-1 li span {font-family:inherit;color:inherit;line-height:inherit;}
.product article {padding-top:52px;padding-bottom:10px;background:#f8f8fa;}
.product article section > *:not(:last-child) {margin-bottom:10px;} 
.product article img {width:100%;}

.product article .cont-box-1 {padding:10px 20px 20px;}
.product article .cont-box-1 .txt-list {margin-top:0}
.product article .cont-box-1 .txt-list.dash > li {margin-bottom:5px;font-size:13px;line-height:1.23;}
.product article .cont-box-1 .btn-section {margin-top:35px;}
.product article .cont-box-1 .btn {height:43px;}
.product article .cont-box-1 .btn span {font-size:15px;}
.product article section > .cont-box-1 {padding-top:20px;}

.product-order {margin-bottom:0 !important;padding:50px 20px;background:#fff;}
.product-order .product-info {display:flex;align-items:center;margin-top:15px;}
.product-order .product-info i {overflow:hidden;width:70px;height:70px;border-radius:4px;}
.product-order .product-info .info {overflow:hidden;flex:1;margin-left:10px;}
.product-order .product-info .info .brand > p {font-size:11px;}
.product-order .product-info .info .prod-name {overflow:hidden;max-width:100%;margin-top:0;line-height:1.62;white-space:nowrap;text-overflow:ellipsis;}
.product-order .product-info .info .order-info {font-size:10px;}
.product-order .amount {margin-left:10px;text-align:right;}
.product-order .amount strong {font-size:19px;color:#191919;line-height:1.5;}
.product-order .amount strong b {font-size:inherit;font-family:'Mont-B','Noto-B';color:inherit;line-height:inherit;}
.product-order .amount p em {font-size:inherit;font-family:'Mont-M','Noto-M';color:inherit;line-height:inherit;}
.product-order .amount p {font-size:15px;}
.product-order .amount p em {color:#9d73d6;}
.product .product-order .product-info i {width:60px;height:60px;}
.product .product-order .product-info .info .prod-name {margin-top:0;max-height:35px;font-size:12px;line-height:1.5;white-space:normal;}
.product .product-order .product-info .info .order-info {margin-top:2px;}

.product-order .order-progress {margin-top:25px;}
.order-progress .amount {margin:25px 0 6px}
.order-progress .proceed {overflow:hidden;position:relative;display:flex;flex-wrap:wrap;justify-content:space-between;}
.order-progress .proceed [class*="bar"] {overflow:hidden;position:absolute;top:23px;display:flex;justify-content:space-between;align-items:center;width:100%;height:16px;border-radius:30px;}
.order-progress .proceed .bar:before {content:'';position:absolute;width:100%;padding:2px;background:#cbcbcb;height:100%;}
.order-progress .proceed .bar-txt > span {flex:1;text-align:center;color:#fff;z-index:1;font-size:10px;}
.order-progress .proceed .bar > span {overflow:hidden;position:relative;height:100%;border-radius:30px;}
.order-progress .proceed .bar .status {position:absolute;top:0;left:0;height:100%;border-radius:30px;z-index:0;background:#a87ee2;}
.order-progress .proceed .bar .status.on {background:#9d73d6;}

.order-progress .proceed .col {display:flex;flex-direction:column;justify-content:space-between;align-items:center;z-index:1;min-height:62px;text-align:center;}
.order-progress .proceed .col:first-of-type {align-items:flex-start;}
.order-progress .proceed .col:last-of-type {align-items:flex-end;}
.order-progress .proceed .col strong {font-family:'Mont-M','Noto-M';color:#191919;font-size:12px;line-height:1.5;}
.order-progress .proceed .col:last-of-type strong {color:#8c8c8c;}

.order-progress .proceed .col > i {display:inline-block;width:12px;height:12px;border-radius:25px;background:#aeaeae;z-index:0;}
.order-progress .proceed .col:first-of-type i {margin-left:2px;}
.order-progress .proceed .col:last-of-type i {margin-right:2px;}
.order-progress .proceed .col > i.on {width:16px;height:16px;background:#fff;border:1px solid #9d73d6;}
.order-progress .proceed .col > i.done {background:#9566d5;z-index:1;}

.product-order .order-progress .amount.type-2 p em {color:#5da2e5;}
.order-progress .proceed.type-2 .bar .status {background:#78b4ee;}
.order-progress .proceed.type-2 .bar .status.on {background:#5da2e5;}
.order-progress .proceed.type-2 .col > i.done {background:#559adc;}
.order-progress .proceed.type-2 .col > i.on {border-color:#78b4ee;}

.order-progress .proceed .col:first-of-type i.on {margin-left:0;border-color:#cbcbcb;}
.order-progress .proceed .col:last-of-type i.on {margin-right:0;}

.product .banner-img {background:#fff;padding-top:10px;}
.product .banner-img a:last-of-type {margin-bottom:35px;}
.banner-img img {width:100%;}
.banner-img a, .banner-img i {display:block;}
.banner-img a {margin-bottom:10px;}
.banner-img a:last-child {margin-bottom:0;}
.banner-img a i {overflow:hidden;position:relative;width:100%;}
.banner-img a i:before {content:'';display:block;padding-bottom:32%;}
.banner-img a i img {position:absolute;top:50%;left:50%;width:100%;object-fit: contain;transform: translate(-50%, -50%);}
.banner-img .txt-img {margin:15px 20px 30px;}
.banner-img .txt-img h5 {overflow:hidden;max-width:100%;margin-top:2px;text-overflow:ellipsis;white-space:nowrap;line-height:1.33;}
.banner-img .txt-img p {font-size:12px;}
.banner-img > div:not(.txt-img) {display:flex;padding:15px 10px 15px 20px;}
.banner-img > div .txt-img {flex:1;margin:0;padding-right:20px;}
.banner-img > div .txt-img h5 {white-space:normal;}

.banner-img .list-1 li {padding:0;border:0;}
.banner-img .list-1.col-2 li {width:calc(50% - 5px);padding:0;}
.banner-img .list-1.col-2 li:nth-child(even) {margin-left:5px;}
.banner-img .list-1.col-2 a i:before {padding-bottom:73%;}
.banner-img .list-1.col-2 .txt-img {margin-left:0;margin-right:0;}


/* 상품 상세 - 상세설명 */
.product article + .cont-box-1 .accordion > li {margin-bottom:10px;}
.product article + .cont-box-1 .accordion .tit {border:0;}
.product article + .cont-box-1 .accordion .tit p {font-size:14px;}
.product article + .cont-box-1 .accordion .cont {padding:10px 20px 35px;background:#fff;}
.product article + .cont-box-1 .accordion .cont .list-1 > li {padding:23px 0;}
.product article + .cont-box-1 .accordion .cont .list-1 > li:first-child {padding-top:0;}
.product article + .cont-box-1 .accordion .cont .list-1 > li:last-child {border:0;}
.product article + .cont-box-1 .accordion .cont .txt-list > li {margin-bottom:5px;line-height:1.25;}
.product article + .cont-box-1 .dl-list {margin-top:10px;}
.product article + .cont-box-1 .dl-list dl {align-items:flex-start;}
.product article + .cont-box-1 .dl-list dl + dl {margin-top:5px;}
.product article + .cont-box-1 .dl-list dt {width:115px;color:#191919;letter-spacing:-.36px;font-size:13px;}
.product article + .cont-box-1 .dl-list dd {flex:1;margin-left:5px;line-height:1.33;letter-spacing:-.24px;font-size:13px;}
.product article + .cont-box-1 .dl-list + .text-guide .txt-list {margin-top:25px;}
.product article + .cont-box-1 .accordion .list-1 .dl-list dt {width:65px;}


/* 상품 상세 - 상품평, 상품 문의 */
.satisfaction {padding:27px 20px 15px;background:#fff;}
.satisfaction .grade {justify-content:center;margin-bottom:25px;}
.satisfaction dl + dl {margin-top:20px;}
.satisfaction dl dt {font-family:'Mont-M','Noto-M';color:#191919;}
.satisfaction dl dd {margin-top:10px;}
.satisfaction .progress + .progress {margin-top:6px;}
.satisfaction .filter-1 {margin-top:27px;}
.satisfaction > .filter-btn-box {height:auto;margin-top:15px;padding:0;border:0;}
.satisfaction > .filter-btn-box .array {width:auto;}

.star-box {display:flex;justify-content:center;align-items:center;}
.star-box > strong {margin-right:10px;font-family:'Mont-M','Noto-M';font-size:16px;color:#191919;line-height:1.5;}
.star-box .star {display:flex;}
.star-box .star span {width:18px;height:18px;margin-right:2px;background:red;font-size:0;}
.star-box .star span:last-child {margin-right:0:}
.star-box > span {margin-left:5px;font-family:'Mont-M','Noto-M';font-size:17px;color:#191919;line-height:1.41;}

.list-1.qna {padding:0 20px;background:#fff;}
.list-1.qna li, .list-1.qna li .tit {padding-left:0;padding-right:0;}
.list-1.qna li {padding:20px 0;border-bottom:1px solid #cbcbcb;transition: transform 0.3s;}
.list-1.qna li.on {border-bottom:0;}
.list-1.qna li .tit {padding:0;border-bottom:0;}
.list-1.qna li .cont {margin-top:5px;padding:15px;}
.list-1.qna li.on .cont {margin-bottom:-25px;}
.list-1.qna + .btn-section {margin-top:0;padding:35px 0 10px;justify-content:center;background:#fff;}
.list-1.qna + .btn-section button {flex:unset;width:50%;height:41px;}
.list-1.qna + .btn-section button span {font-size:13px;}

.qna-box dt {display:flex;align-items:center;color:#191919;line-height:1.33;}
.qna-box dt > div {margin-left:auto;}
.qna-box dt > span {margin-left:auto;}
.qna-box dt strong, .qna-box dt span{color:#191919;}
.qna-box dt em {margin-left:2px;color:#cbcbcb;}
.qna-box dt em.clear {color:#9d73d6;}
.qna-box .my-qna {display:inline-flex;align-items:center;height:30px;margin-left:3px;padding:5px 12px;background:#191919;color:#fff;border-radius:5px;line-height:1.33;}
.qna-box dd, .qna-box dd > p {margin-top:5px;color:#191919;line-height:1.38;}
.qna-box dd > p {margin-top:0;}
.qna-box dd > pre {white-space:pre-line;color:inherit;line-height:inherit;font-size:inherit;}

.assessment, .inquire {background:#fff;padding:0 20px 25px;}
.assessment .list-1.qna, .inquire .list-1.qna {padding:0;}
.assessment .qna > li {padding:25px 0;border-color:#f8f8fa;}
.assessment .qna-box dt strong {font-family:'Mont-M','Noto-M';line-height:1.15;}
.assessment .qna-box dt em {font-size:13px;color:#191919;}
.assessment .star-box .star span {width:12px;height:12px;}
.assessment .star-box > span {font-family:'Mont-R','Noto-R';}
.assessment .order-info > p {font-size:11px;line-height:1.5;}
.assessment .order-info > p span {color:inherit;}
.assessment .qna-box dd > p {margin-top:5px;}
.assessment .img-box {display:flex;margin-top:15px;}
.assessment .img-box i {flex:1;overflow:hidden;position:relative;max-width:24%;margin-right:5px;}
.assessment .img-box i:last-child {margin-right:0}
.assessment .img-box i:before {content:'';display:block;padding-bottom:100%;}
.assessment .img-box i img {position:absolute;top:0%;left:0%;width:100%;height:100%;object-fit:cover;}
.assessment .qna .btn-section {margin-top:15px;justify-content:flex-end;}
.assessment .qna .btn-section > button {flex:unset;}
.assessment .qna .btn-section > button + button {margin-left:10px;}

.inquire .qna-box + .qna-box {margin-top:15px;padding-top:15px;border-top:1px solid #cbcbcb;}
.accordion.qna .tit > .qna-box dd {display:flex;align-items:center;}
.accordion.qna .tit > .qna-box dd .more {margin:0 0 0 auto;}


table {width:100%;}
table tr {border-collapse:collapse;}
table td {/*border-bottom:1px solid blue*/background:yellow;}


/* 선주문하기(footer) */
.bot-purchase {position:absolute;z-index:-1;display:flex;flex-direction:column-reverse;width: 100%;}
.bot-purchase > div {background:#fff;border-radius:10px 10px 0 0;}
.bot-purchase .option-form {padding:10px 20px 15px;border-radius:10px 10px 0 0;background:#fff;}
.bot-purchase .option-form .form {margin-top:0;}
.bot-purchase .option-list {overflow-y:auto;-webkit-overflow-scrolling:touch;height:184px;margin-right:1px;padding:0 10px 0 20px;background:#f8f8fa;}
.bot-purchase .option-list ul {margin:5px 0;}
.bot-purchase .option-list li {display:flex;padding:5px 0;}
.bot-purchase .option-list li .item {flex:1;display:flex;justify-content:space-between;align-items:center;padding-right:15px;}
.bot-purchase .option-list li .item strong {width:80px;}
.bot-purchase .option-list li .item strong, .bot-purchase .option-list li .item p {color:#191919;}
.bot-purchase .option-list li .item p span {/*font-family:'Mont-M','Noto-M';*/color:inherit;}
.bot-purchase .option-total {padding:20px;display:flex;justify-content:space-between;align-items:center;background:#fff;}
.bot-purchase .option-total p {font-size:14px;color:#191919;}
.bot-purchase .option-total .total-price {margin:0;}
.bot-purchase .option-total .total-price span {font-family:'Mont-M','Noto-M';font-size:14px;color:inherit;}
.bot-purchase .option-total .total-price strong {font-size:20px;color:#9d73d6;}
.bot-purchase .option-total .total-price em {color:#9d73d6;}
footer .bot-purchase{ transform: translateY(0px); transition: transform 0.3s;} 
footer.on .bot-purchase{ transform: translateY(-390px);}


.bot-text-box {padding:25px;text-align:center;}
.bot-text-box .tit-box {margin-top:0;margin-bottom:25px;}
.bot-text-box .no-data {padding:0;}
.bot-text-box .no-data p.txt {font-family:inherit;}

/*.bot-purchase .option-list::-webkit-scrollbar, 
.combobox .option ul::-webkit-scrollbar{width:1px;}
.bot-purchase .option-list::-webkit-scrollbar-track, 
.combobox .option ul::-webkit-scrollbar-track {background:transparent;}
.bot-purchase .option-list::-webkit-scrollbar-thumb, 
.combobox .option ul::-webkit-scrollbar-thumb {border-radius:1px;background:#4e4e4e;}
*/

/* 약관동의 */
.agreement {margin-top:25px;}
.agreement .txt-guide {margin-top:20px;}
.agreement .txt-guide p {font-size:13px;line-height:1.46;}
.agreement .txt-guide p + p {margin-top:10px;}
.agreement .txt-list {margin-top:10px;}
.agreement .txt-list.dash li {font-size:12px;line-height:1.42;}
.agreement .link-box {margin-top:25px;}
.agreement .link-box button {display:block;}
.agreement .link-box button:not(:first-child) {margin-top:10px;}
.agreement .link-box button span {font-size:12px;}
.agreement h5 {margin:15px 0 3px;}
.agreement h5 + p {font-size:12px;line-height:1.42;}

.pop-wrap .agreement:first-child {margin-top:0;}


/* 카테고리 */

.filter-form {display:flex;flex-wrap:wrap;padding:15px 20px;}
.filter-form button {margin-right:5px;padding-right:25px;text-align:left;}
.filter-form.plural {background:#f8f8fa;}
.filter-form.plural {padding:0 20px 15px;}
.filter-form.plural button {padding-top:15px;}
.filter-form button span {font-size:12px;}
.filter-form button.on span {font-family:'Mont-M','Noto-M';color:#242424;}

.in-border-box {display:flex;justify-content:center;align-items:center;padding:14px 20px 11px;border-top:10px solid #f8f8fa;border-bottom:10px solid #f8f8fa;background:#fff;}
.in-border-box strong {color:#191919;}
.in-border-box strong i {display:inline-block;width:30px;height:30px;margin:0 5px;background:url(../img/split-img.png) no-repeat 0 -160px;background-size:240px auto;font-size:0;}

.wrap-in.full .list-1.col-2 {padding:0 20px;}

/*카테고리 매장*/
.list-1.col-2 {flex-direction:row;flex-wrap:wrap;}
.list-1.col-2 li {width:calc(50% - 5px);padding:20px 0 15px;border-bottom:0;}
.list-1.col-2 li {}
.list-1.col-2 li:nth-child(even) {margin-left:10px;}
.list-1.col-2 .product-info i {width:auto;height:auto;}
.list-1.col-2 .product-info .info {margin-top:13px;}
.list-1.col-2 .product-info .prod-name {display:-webkit-box;-webkit-line-clamp:2;white-space:normal;word-wrap:break-word;-webkit-box-orient:vertical;margin-top:2px;}
.list-1.col-2 .product-info .price {flex-wrap:wrap;margin-top:13px;}
.list-1.col-2 .product-info .price span {width:100%;}
.list-1.col-2 .product-info .price strong {margin-left:0;margin-right:5px;}

.list-1.col-2 .product-info .progress {align-items:flex-start;margin-top:9px;padding:15px 0 0;border-top:1px solid #ebebeb;}
.list-1.col-2 .product-info .progress .time {margin-top:5px;font-family:'Mont-M','Noto-M';font-size:10px;text-align:left;}
.list-1.col-2 .product-info .progress strong, .list-1.col-2 .product-info .progress em {font-family:initial;font-size:10px;color:#8c8c8c;}
.list-1.col-2 .product-info .progress em {font-family:'Mont-M','Noto-M';}
.list-1.col-2 .product-info .progress .hbox {justify-content:flex-start;}
.list-1.col-2 .product-info {}


/*필터*/
.full-pop-wrap .accordion li:last-child .tit {border-bottom: 3px solid #f8f8fa;}
.filter-2 {display:flex;flex-direction:column;}
.filter-2 label {flex:1;height:100%;height:43px;margin-bottom:5px;}
.filter-2 label:last-child {margin-bottom:0;}
.filter-2 input {display:none;}
.filter-2 input + span, .filter-2 input + .grade {display:flex;justify-content:center;align-items:center;height:100%;background:#fff;font-family:'Mont-M','Noto-M';color:#191919;}
.filter-2 input:checked + span, .filter-2 input:checked + .grade {background:#9d73d6;color:#fff;}

.filter-2[class*="h-"] {flex-wrap:wrap;flex-direction:row;}
.filter-2.h-col2 label {flex:1 1 40%;margin:0 5px 0 0;}
.filter-2.h-col2 label:last-child {margin-right:0;}
.filter-2.h-col3 label {flex:1 1 30%;max-width:30%;height:31px;margin:5px 5px 0 0;}
.filter-2.h-col3 label:nth-child(-n+3) {margin-top:0;}
.filter-2.h-col3 label:nth-child(3n) {margin-right:0;}

.filter-2 input + .grade em {font-family:inherit;color:inherit;}
.filter-2 input:checked + .grade .unit.on {background-position:-106px -77px;}

.filter-btn-box {display:flex;justify-content:flex-end;align-items:center;height:45px;padding:0 20px;border-top:1px solid #f8f8fa;border-bottom:1px solid #f8f8fa}
.filter-btn-box .filter {position:relative;margin-left:10px;padding:0;border:0;}
.filter-btn-box .filter:before {content:'';position:absolute;top:7px;left:-10px;width:1px;height:18px;background:#cbcbcb;}


/* 검색어 */
.search-list {padding:0 50px;}
.search-list .list-1 li {position:relative;display:flex;justify-content:space-between;align-items:center;padding:10px 0;border-color:#f8f8fa;}
.search-list .list-1 li:last-child {border-bottom:0;}
.search-list .list-1.num li {counter-increment:num;padding-left:22px;font-size:12px;}
.search-list .list-1.num li:before {content:counter(num);position:absolute;left:0;font-size:inherit;color:#191919;}
.search-list .state {position:relative;width:15px;height:30px;}
.search-list .state:after {content:'';position:absolute;top:calc(50% - 1px);right:0;width:13px;height:2px;background:#cbcbcb}
.search-list .state.up:after, .search-list .state.down:after {content:'';top:calc(50% - 4px);width:0;height:0;background:none;border-right:7px solid transparent;border-left:7px solid transparent;}
.search-list .state.up:after {border-bottom:7px solid #ff0000;}
.search-list .state.down:after {border-top:7px solid #1100ff;}
.search-list > h5 {margin-top:25px;}